<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Marriott Bonvoy</title>
        <!-- Favicon-->
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/qr.css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://unpkg.com/html5-qrcode"></script>
         <script src="scripts/scripts.js"></script>
     </head>
     <body>
         <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!"><img src="logo.png" height="90px"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">My Trips</a></li>
                    </ul>
                    <i class='fas fa-user-alt' style='font-size:36px'></i>
                    <i class='fas ms-2'></i>
                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            Stacy
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder text-center"><i class="fa-solid fa-hotel"></i> <i class="twfont">Stacy's trip to Palm Springs</i></h1>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="reservation-container d-flex flex-column align-items-center">
                <div class="reservation-button-container d-flex justify-content-end">
                    <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" id="walletModal1" data-bs-target="#walletModal">
                        <i class="fas fa-wallet"></i> <i class='ms-2'></i> <i class="twfont fcol">BONVoY T{r}IP WALLET</i>
                    </button>
                </div>
                <div class="reservation-details text-start">
                    <p><i class="fa-solid fa-umbrella-beach"></i> <i class='fas ms-2'></i> <strong><i class="twfont">Vacation at JW Marriott</i></strong></p>
                    <p><i class="fas fa-calendar-alt"></i> <i class='fas ms-3'></i> <strong> <i class="twfont">16 May - 18 May</i></strong></p>
                    <p><i class="fa-solid fa-bed"></i> <i class='fas ms-2'></i> <strong> <i class="twfont">King Suite</i></strong></p>
                    <p><i class="fas fa-dollar-sign"></i> <i class='fas ms-3'></i> <i class="twfont"><strong>Total Price:</strong> 320.50 USD</i></p>
                </div>
            </div>


            <div class="modal fade" id="walletModal" tabindex="-1" aria-labelledby="walletModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">  <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="walletModalLabel"><i class="fas fa-wallet"></i> <i class="twfont">BONVoY T{r}IP WALLET ID# W12345</i></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a href="#summary" class="nav-link active" data-bs-toggle="tab" role="tab" aria-selected="true">Summary</a>
                            </li>
                            <!--li class="nav-item" role="presentation">
                                <a href="#instruments" class="nav-link" data-bs-toggle="tab" role="tab" aria-selected="false">Payment Source</a>
                            </li-->
                            <li class="nav-item" role="presentation">
                                <a href="#wallet-top-up" onclick="showWalletTopUp()" class="nav-link" data-bs-toggle="tab" role="tab" aria-selected="false">Details</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a href="#transactions" class="nav-link" data-bs-toggle="tab" role="tab" aria-selected="false">Transactions</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a href="#pay" onclick="showPay()" class="nav-link" data-bs-toggle="tab" role="tab" aria-selected="false">Pay</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <section class="tab-pane active" id="summary">
                                <div class="summaryDiv">
                                <i class='fas ms-2'></i>
                                <legend class="twfont">Trip Id: 356784</legend>
                                  <p>Wallet authorized with room stay. <strong>TopUp</strong> to manage trip expenses</p>
                                <div class="px-1 px-lg-5 mt-1">
                                    <table class="table table-striped twfont">
                                        <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th class="twfont fwt" scope="col">Used</th>
                                            <th class="twfont fwt" scope="col">Balance</th>
                                            <th class="twfont fwt" scope="col">Total</th>
                                        </tr>
                                        </thead>
                                        {{#summary}}
                                        <tbody>
                                        <tr>
                                            <td><i class="fas"></i> Cash  </td>
                                            <td><i class="fas twfont fwt"> {{cashUsed}} USD</i>  </td>
                                            <td><p class="fas twfont fwt" id="cashBalance">{{cashBalance}}</p><p class="fas twfont fwt"> USD</p></td>
                                            <td><i class="fas twfont fwt"> {{totalCashAuthorized}} USD</i></td>
                                        </tr>
                                        <tr>
                                            <td><i class="fas"></i> Points  </td>
                                            <td><i class="fas twfont fwt"> {{pointsUsed}} </i>  </td>
                                            <td><p class="fas twfont fwt" id="pointsBalance">{{pointsBalance}}</p></td>
                                            <td><i class="fas twfont fwt"> {{totalPointsAuthorized}}</i></td>
                                        </tr>
                                        </tbody>
                                        {{/summary}}
                                    </table>
                                    <h4 style="background-color: rgba(220, 248, 220, 0.3); padding: 5px 10px; border-radius: 5px;">
                                        <p class="text-muted">Points Earning Potential: <i class="fas fa-star"></i> <i class="twfont">450</i></p>
                                    </h4>
                                </div>
                                </div>
                            </section>
                            <section class="tab-pane" id="transactions">
                                <div class="container px-4 px-lg-5 mt-5">
                                    <div class="alert alert-info" role="alert">
                                        You've earned Double Points on Dining!
                                    </div>

                                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th scope="col">Date</th>
                                                <th scope="col">Item</th>
                                                <th scope="col">Experience</th>
                                                <th scope="col">Pay With</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Points Earned</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                        {{#summary}}
                                            {{#transactions}}
                                            <tr>
                                                <td>{{date}}</td>
                                                <td>{{item}}</td>
                                                <td>{{service}}</td>
                                                <td>{{transType}}</td>

                                                {{#pointsTras}}
                                                <td>{{pointsAmount}}</td>
                                                    {{/pointsTras}}
                                                {{#cashTrans}}
                                                    <td>{{topUpAmount}}</td>
                                                {{/cashTrans}}
                                                <td>{{pointsEarned}}</td>
                                            </tr>
                                            {{/transactions}}
                                        {{/summary}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                            <section class="tab-pane" id="wallet-top-up">
                                <div class="wallet-top-up-div">

                                <form name="paymentForm">
                                <fieldset class="d-flex flex-wrap">
                                    <i class='fas ms-2'></i>
                                    <legend class="twfont">Wallet Details</legend>
                                    <ul class="list-group list-group-flush">
                                        {{#summary}}
                                            {{#topupSummaryList}}
                                                {{#cashTrans}}
                                        <li class="list-group-item d-flex align-items-center">
                                            <input type="radio" id="paymentVisa" name="paymentMethod" value="{{cardType}}">
                                            <input type="hidden" id="paymentLast4" name="paymentLast4" value="{{lastFour}}" checked>
                                            <label for="paymentVisa" class="ms-2">
                                                <i class="fab fa-cc-visa fs-4 text-primary"></i> ending in  {{lastFour}} <span class="badge bg-primary rounded-pill"> Authorized {{authorized}} USD</span> <span class="badge bg-primary rounded-pill"> Balance {{cashBalance}} USD</span>
                                            </label>
                                        </li>
                                                {{/cashTrans}}

                                    {{/topupSummaryList}}
                                            {{#topupSummaryPoints}}

                                                    <li class="list-group-item d-flex align-items-center">
                                                        <input type="radio" id="paymentBonvoy" name="paymentMethod" value="bonvoy">
                                                        <label for="paymentBonvoy" class="ms-2">
                                                            <i class="fab fs-4 text-blue"></i>Bonvoy Points  <span class="badge bg-primary rounded-pill"> Authorized {{pointsAuthorized}} Points</span> <span class="badge bg-primary rounded-pill"> Balance {{pointsBalance}}</span>
                                                        </label>
                                                    </li>

                                            {{/topupSummaryPoints}}
                                        {{#hasNoPoints}}
                                        <li class="list-group-item d-flex align-items-center">
                                            <input type="radio" id="paymentBonvoy" name="paymentMethod" value="bonvoy">
                                            <label for="paymentBonvoy" class="ms-2">
                                                <i class="fab fs-4 text-blue"></i>Bonvoy Points  <span class="badge bg-primary rounded-pill"> Available {{bonvoyPoints}} Points</span> <span class="badge bg-primary rounded-pill"> Balance {{pointsBalance}}</span>
                                            </label>
                                        </li>
                                        {{/hasNoPoints}}
                                        {{/summary}}
                                </ul>
                                </fieldset>

                                <div class="mt-3 d-flex flex-column align-items-center">
                                    <input type="text" class="form-control mb-2" id="topUpAmount" placeholder="Enter top up amount">
                                    <button type="button" onClick="walletTopUp()" class="btn btn-primary">Top Up</button>
                                </div>
                                </form>
                                </div>

                                <div class="container">
                                    <div class="topupsuccess">
                                        <div class="imgsuccess">
                                            <img width="40px" src="success.png" height="50px"/>
                                        </div>
                                        <p><i class="fas twfont"></i>Topup Successfully</p>
                                    </div>
                                </div>
                            </section>
                            <section class="tab-pane" id="wallet-top-up-budget">
                                <fieldset class="d-flex flex-wrap">
                                    <legend>Trip Budget</legend>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex align-items-center">
                                            <label for="paymentVisa" class="ms-2">
                                                <i class="fab fs-4 text-primary"></i>Planned Amount  <span id="planned" class="badge bg-primary rounded-pill">$2000</span>
                                            </label>
                                        </li>
                                        <li class="list-group-item d-flex align-items-center">
                                            <label for="paymentAmex1" class="ms-2">
                                                <i class="fab fs-4 text-blue"></i>Balance Amount  <span id="balance" class="badge bg-primary rounded-pill">$100</span>
                                            </label>
                                        </li>
                                    </ul>
                                </fieldset>

                                <div class="mt-3 d-flex flex-column align-items-center">
                                    <input type="text" class="form-control mb-2" placeholder="Enter the value for top-up">
                                    <button type="button" onclick="topUp()" class="btn btn-primary">Top Up</button>
                                </div>
                            </section>
                            <section class="tab-pane" id="pay">

                                <div><a href="pos.png" class="qrlink" download="posCheck">Click to Download pos check with QR for testing</a>

                                </div>
                                <div class="container qrhead">
                                    <h1>Scan QR Codes</h1>
                                    <div class="section">
                                    <div id="my-qr-reader"></div>
                                    </div>
                                </div>
                                <div id="paymentFields" class="paymentFields">
                                    <div id='checkDialog' class="checkDialog" title='Check'>
                                        <legend class="ms-4"><p id="posname"></p></legend>
                                        <br/><label><p class="ms-4" id="checkno"></p></label>
                                       <br/> <label class="ms-2"> <p id="itemname"></p></label> <label class="ms-4"></label><label class="ms-4"><p id="itemcost"></p></label>
                                       <br/> <label class="ms-2">Subtotal</label>
                                        <label class="ms-4"></label>
                                        <label class="ms-4"></label>
                                        <label class="ms-2"></label>
                                        <label class="ms-4"> <p id="subtotal"></p></label>
                                       <br/> <label class="ms-2">Tax</label>
                                        <label class="ms-4"></label>
                                        <label class="ms-4"></label>
                                        <label class="ms-4"></label>
                                        <label class="ms-4"></label>
                                        <label class="ms-4"><p id="tax"></p></label>
                                       <br/> <label class="ms-2">Total</label>
                                        <label class="ms-4"></label>
                                        <label class="ms-4"></label>
                                        <label class="ms-4"></label>
                                        <label class="ms-2"></label>
                                        <label class="ms-4">
                                            <p id="total"></p></label>
                                        <br/> <label class="ms-2">Total(Points)</label>
                                        <label class="ms-4"></label>
                                        <label class="ms-4">
                                            <p id="totalpt"class="ms-2"></p></label>
                                    </div>
                                    <fieldset class="d-flex flex-wrap">
                                        <i class='fas ms-2'></i>
                                        <legend class="twfont">Payment Options</legend>
                                        <ul class="list-group list-group-flush">
                                            {{#summary}}
                                                {{#topupSummaryList}}

                                                    {{#cashTrans}}
                                                        <li class="list-group-item d-flex align-items-center">
                                                            <input type="radio" id="paymentCC" name="paymentMethod" value="{{cardType}}" checked>
                                                            <input type="hidden" id="paymentLast4" name="paymentLast4" value="{{lastFour}}" checked>
                                                            <label for="paymentVisa" class="ms-2">
                                                                <i class="fab fa-cc-visa fs-4 text-primary"></i> ending in  {{lastFour}} <span class="badge bg-primary rounded-pill"> Authorized {{authorized}} USD</span>
                                                            </label>
                                                        </li>
                                                    {{/cashTrans}}

                                                {{/topupSummaryList}}
                                                {{#topupSummaryPoints}}

                                                    <li class="list-group-item d-flex align-items-center">
                                                        <input type="radio" id="paymentB" name="paymentMethod" value="bonvoy">
                                                        <label for="paymentBonvoy" class="ms-2">
                                                            <i class="fab fs-4 text-blue"></i>Bonvoy Points  <span class="badge bg-primary rounded-pill"> Authorized {{pointsAuthorized}} Points</span>
                                                        </label>
                                                    </li>

                                                {{/topupSummaryPoints}}
                                                {{#hasNoPoints}}
                                                    <li class="list-group-item d-flex align-items-center">
                                                        <input type="radio" id="paymentB" name="paymentMethod" value="bonvoy">
                                                        <label for="paymentBonvoy" class="ms-2">
                                                            <i class="fab fs-4 text-blue"></i>Bonvoy Points  <span class="badge bg-primary rounded-pill"> Available 1400 Points</span>
                                                        </label>
                                                    </li>
                                                {{/hasNoPoints}}
                                            {{/summary}}
                                        </ul>
                                    </fieldset>

                                    <div class="mt-3 d-flex flex-column">
                                        <button type="button" onclick="hidePay()" class="btn btn-primary">Pay</button><div class="loader"></div>
                                    </div>

                                </div>
                                <div class="container">
                                    <div class="paymentSuccess">
                                        <div class="imgsuccess">
                                            <img width="40px" src="success.png" height="50px"/>
                                        </div>
                                        <p><i class="fas"></i>Payment Successful</p>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Settle</button>
                    </div>
                </div>
                </div>
            </div>

        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Developed by Commerce Wizards for Codefest 2.0</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
    </body>
</html>
