<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Marriott Bonvoy</title>
        <!-- Favicon-->
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/qr.css" rel="stylesheet" />
        <script src="scripts/scripts.js"></script>
        <script src="https://unpkg.com/html5-qrcode"></script>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!"><img src="logo.png" height="90px"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">My Trips</a></li>
                    </ul>
                    <i class='fas fa-user-alt' style='font-size:36px'></i>
                    <i class='fas ms-2'></i>
                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            Stacy
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder text-center"><i class="fa-solid fa-hotel"></i> <i class="twfont">Stacy's trip to palm springs</i></h1>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="reservation-container d-flex flex-column align-items-center">
                <div class="reservation-button-container d-flex justify-content-end">
                    <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#walletModal">
                        <i class="fas fa-wallet"></i> <i class='ms-2'> <i class="twfont fcol">BONVoY T{r}IP WALLET</i>
                    </button>
                </div>
                <div class="reservation-details text-start">
                    <p><i class="fa-solid fa-umbrella-beach"></i> <i class='fas ms-2'></i> <strong><i class="twfont">Vacation at JW Marriott</i></strong></p>
                    <p><i class="fas fa-calendar-alt"></i> <i class='fas ms-3'></i> <strong> <i class="twfont">16 May - 18 May</i></strong></p>
                    <p><i class="fa-solid fa-bed"></i> <i class='fas ms-2'></i> <strong> <i class="twfont">King Suite</i></strong></p>
                    <p><i class="fas fa-dollar-sign"></i> <i class='fas ms-3'></i> <i class="twfont"><strong>Total Price:</strong> 320.50 USD</p></p>
                </div>
            </div>


            <div class="modal fade" id="walletModal" tabindex="-1" aria-labelledby="walletModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">  <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="walletModalLabel"><i class="fas fa-wallet"></i> <i class="twfont">BONVoY T{r}IP WALLET ID# W12345</i></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a href="#summary" class="nav-link active" data-bs-toggle="tab" role="tab" aria-selected="true">Summary</a>
                            </li>
                            <!--li class="nav-item" role="presentation">
                                <a href="#instruments" class="nav-link" data-bs-toggle="tab" role="tab" aria-selected="false">Payment Source</a>
                            </li-->
                            <li class="nav-item" role="presentation">
                                <a href="#wallet-top-up" onclick="showWalletTopUp()" class="nav-link" data-bs-toggle="tab" role="tab" aria-selected="false">Details</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a href="#transactions" class="nav-link" data-bs-toggle="tab" role="tab" aria-selected="false">Transactions</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a href="#pay" onclick="showPay()" class="nav-link" data-bs-toggle="tab" role="tab" aria-selected="false">Pay</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <section class="tab-pane active" id="summary">
                                <div class="container px-4 px-lg-5 mt-5">
                                    <table class="table table-striped twfont">
                                        <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th class="twfont fwt" scope="col">Used</th>
                                            <th class="twfont fwt" scope="col">Balance</th>
                                            <th class="twfont fwt" scope="col">Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><i class="fas"></i> Authorized Amount  </td>
                                            <td><i class="fas twfont fwt"> 320.50 USD</i>  </td>
                                            <td><i class="fas twfont fwt"> 579.50 USD</i></td>
                                            <td><i class="fas twfont fwt"> 900.00 USD</i></td>
                                        </tr>
                                        <tr>
                                            <td><i class="fas"></i> Cash  </td>
                                            <td><i class="fas twfont fwt"> 160.50 USD</i>  </td>
                                            <td><i class="fas twfont fwt"> 439.50 USD</i></td>
                                            <td><i class="fas twfont fwt"> 600.00 USD</i></td>
                                        </tr>
                                        <tr>
                                            <td><i class="fas"></i> Points  </td>
                                            <td><i class="fas twfont fwt"> 1600 </i>  </td>
                                            <td><i class="fas twfont fwt"> 1400</i></td>
                                            <td><i class="fas twfont fwt"> 3000</i></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <h4 style="background-color: rgba(220, 248, 220, 0.3); padding: 5px 10px; border-radius: 5px;">
                                        <p class="text-muted">Points Earning Potential: <i class="fas fa-star"></i> <i class="twfont">2500</i></p>
                                    </h4>
                                </div>
                            </section>
                            <section class="tab-pane" id="instruments">
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="fab fs-4 me-2 text-primary"><img src="giftcard.png"/> </i>
                                            <div>
                                                <p class="mb-0">Visa ending in 4567 </p>
                                                <span class="badge bg-primary rounded-pill"> $100 Authorized</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="fab fa-cc-amex fs-4 me-2 text-blue"></i>
                                            <div>
                                                <p class="mb-0">Amex ending in 6789 </p>
                                                <span class="badge bg-primary rounded-pill"> $10 Authorized</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="fab fa-cc-amex fs-4 me-2 text-blue"></i>
                                            <div>
                                                <p class="mb-0">Bonvoy Points </p>
                                                <span class="badge bg-primary rounded-pill"> 6,000 Points Authorized</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </section>
                            <section class="tab-pane" id="transactions">
                                <div class="container px-4 px-lg-5 mt-5">
                                    <div class="alert alert-info" role="alert">
                                        You've earned Double Points on Dining!
                                    </div>

                                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th scope="col">Date</th>
                                                <th scope="col">Item</th>
                                                <th scope="col">Experience</th>
                                                <th scope="col">Pay With</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Points Earned</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>May-16</td>
                                                <td>Resort King Guest Room</td>
                                                <td>Stay</td>
                                                <td>Cash</td>
                                                <td>$160.50</td>
                                                <td>1600</td>
                                            </tr>
                                            <tr>
                                                <td>May-16</td>
                                                <td>Resort King Guest Room</td>
                                                <td>Stay</td>
                                                <td>Points</td>
                                                <td>1600.00</td>
                                                <td>1600</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                            <section class="tab-pane" id="wallet-top-up">
                                <div class="wallet-top-up-div">
                                <form name="paymentForm">
                                <fieldset class="d-flex flex-wrap">
                                    <legend>Wallet Details</legend>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex align-items-center">
                                            <input type="radio" id="paymentVisa" name="paymentMethod" value="visa" checked>
                                            <label for="paymentVisa" class="ms-2">
                                                <i class="fab fa-cc-visa fs-4 text-primary"></i> ending in 4567 <span class="badge bg-primary rounded-pill"> Available 579.50 USD</span>
                                            </label>
                                        </li>
                                        <li class="list-group-item d-flex align-items-center">
                                            <input type="radio" id="paymentAmex" name="paymentMethod" value="amex">
                                            <label for="paymentAmex" class="ms-2">
                                                <i class="fab fa-cc-amex fs-4 text-blue"></i> ending in 6789 <span class="badge bg-primary rounded-pill"> Available 579.50 USD</span>
                                            </label>
                                        </li>
                                        <li class="list-group-item d-flex align-items-center">
                                            <input type="radio" id="paymentBonvoy" name="paymentMethod" value="bonvoy">
                                            <label for="paymentBonvoy" class="ms-2">
                                                <i class="fab fs-4 text-blue"></i>Bonvoy Points  <span class="badge bg-primary rounded-pill"> Available 1400 Points</span>
                                            </label>
                                        </li>
                                    </ul>
                                </fieldset>

                                <div class="mt-3 d-flex flex-column align-items-center">
                                    <input type="text" class="form-control mb-2" placeholder="Enter the value for top-up">
                                    <button type="button" onClick="walletTopUp()" class="btn btn-primary">Top Up</button>
                                </div>
                                </form>
                                </div>
                                <div class="container">
                                    <div class="topupsuccess">
                                        <div class="imgsuccess">
                                            <img width="40px" src="success.png" height="50px"/>
                                        </div>
                                        <p><i class="fas"></i>Money Added Successfully</p>
                                    </div>
                                </div>
                            </section>
                            <section class="tab-pane" id="wallet-top-up-budget">
                                <fieldset class="d-flex flex-wrap">
                                    <legend>Trip Budget</legend>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex align-items-center">
                                            <label for="paymentVisa" class="ms-2">
                                                <i class="fab fs-4 text-primary"></i>Planned Amount  <span id="planned" class="badge bg-primary rounded-pill">$2000</span>
                                            </label>
                                        </li>
                                        <li class="list-group-item d-flex align-items-center">
                                            <label for="paymentAmex1" class="ms-2">
                                                <i class="fab fs-4 text-blue"></i>Balance Amount  <span id="balance" class="badge bg-primary rounded-pill">$100</span>
                                            </label>
                                        </li>
                                    </ul>
                                </fieldset>

                                <div class="mt-3 d-flex flex-column align-items-center">
                                    <input type="text" class="form-control mb-2" placeholder="Enter the value for top-up">
                                    <button type="button" onclick="topUp()" class="btn btn-primary">Top Up</button>
                                </div>
                            </section>
                            <section class="tab-pane" id="pay">
                                <div class="container qrhead">
                                    <h1>Scan QR Codes</h1>
                                    <div class="section">
                                        <div id="my-qr-reader">
                                        </div>
                                    </div>
                                </div>
                                <div id="paymentFields" class="paymentFields">
                                <fieldset class="d-flex flex-wrap payfs">
                                    <legend>Total Amount : <span class="badge bg-primary rounded-pill">$100.23</span></legend>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex align-items-center">
                                            <input type="radio" id="paymentVisa" name="paymentMethod" value="visa" checked>
                                            <label for="paymentVisa" class="ms-2">
                                                <i class="fab fa-cc-visa fs-4 text-primary"></i> ending in 4567
                                            </label>
                                        </li>
                                        <li class="list-group-item d-flex align-items-center">
                                            <input type="radio" id="paymentAmex" name="paymentMethod" value="amex">
                                            <label for="paymentAmex" class="ms-2">
                                                <i class="fab fa-cc-amex fs-4 text-blue"></i> ending in 6789
                                            </label>
                                        </li>
                                        <li class="list-group-item d-flex align-items-center">
                                            <input type="radio" id="paymentBonvoy" name="paymentMethod" value="bonvoy">
                                            <label for="paymentBonvoy" class="ms-2">
                                                <i class="fab fs-4 text-blue"></i>Bonvoy Points  <span class="badge bg-primary rounded-pill">6,000 Points</span>
                                            </label>
                                        </li>
                                    </ul>
                                </fieldset>

                                    <div class="mt-3 d-flex flex-column">
                                        <button type="button" onclick="hidePay()" class="btn btn-primary">Pay</button><div class="loader"></div>
                                    </div>

                                </div>
                                <div class="container">
                                    <div class="paymentSuccess">
                                        <div class="imgsuccess">
                                            <img width="40px" src="success.png" height="50px"/>
                                        </div>
                                        <p><i class="fas"></i>Payment Successful</p>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>

        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Developed by Commerce Wizards for Codefest 2.0</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
    </body>
</html>
